<section class="wrapper">
    <div class="image">
        <img src="{{ img_url }}" alt="">
    </div>
    <div mat-dialog-content class="content">
        <div class="title">
            <h1 mat-dialog-title>{{person.name}}</h1>
            <mat-divider></mat-divider>
            <div class="metadata">
                <p *ngIf="person.birthday != null" class="date">Birthday: {{person.birthday | date:'yyyy.MM.dd'}}</p>
                <p *ngIf="person.place_of_birth != null" class="place-of-birth">Place of birth: {{person.place_of_birth}}</p>
                <div *ngIf="person.deathday != null"> <p class="deathday"> Passed away in: {{ person.deathday | date: 'yyyy.MM.dd' }} </p> </div>
            </div>
        </div>

        <div class="description">
            <h4 *ngIf="person.also_known_as != ''">Also Known as: </h4>
            <p> {{ also_known_as }} </p>
            <p>Popularity: {{ person.popularity }}</p>
        </div>

        <div class="description" *ngIf="person.biography != ''">
            <h4>Biography</h4>
            <p>{{person.biography}}</p>
        </div>


        <div class="btns">
            <button mat-flat-button color="accent" [mat-dialog-close]="'movies'">Browse Related Movies</button>
            <button mat-flat-button color="accent" [mat-dialog-close]="'series'" cdkFocusInitial>Browse Realted Series</button>
        </div>
    </div>

</section>