.movie-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .page{
      position: relative;
    }



    #theme-switch{
      z-index: 1;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 130px;
      transform: translateX(-50%);
      bottom: 30px;
      
    }
}

::ng-deep .mat-tab-body-wrapper {
  height: 100%; // Tabs body height. I also don't like ng-deep, but there is no other way :(
}
#tab-group {
  height: 100%; // Whole group height.
  .page {
    height: 100%;  // Content height.
  }
}
